<div class="context">
  <h1>ご購入ありがとうございました！</h1>
  <%= link_to "商品一覧へ戻る", products_path, class: "btn btn-warning col-sm-4 offset-4 btn-back mt-3" %>
</div>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>