<main>
  <article>
    <div class="btn-wrap">
      <button class="btn btn-flat"><span><%= link_to "新規登録", new_user_registration_path %></span></button>
      <button class="btn btn-flat"><span><%= link_to "ログイン", new_user_session_path %></span></button>
    <button class="btn btn-flat"><span><%= link_to "買い物をする", "#" %></span></button>
    </div>
    <%= image_tag "catch-copy.svg", id: "main-logo" %>
  </article>
<main>